.carousel-container {
  padding: 40px;
  color: var(--text-color);
  text-align: center;
  justify-content: center;
  font-family: poppins;
  margin-top: 200px;
}
.carousel-img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px;
}
.client_container {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}
.testimonial_content > p {
  font-size: 32px;
  margin-bottom: 100px;
}
.client-info > .name {
  font-size: 30px;
}
.client-info > .title {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    margin-top: 100px;
  }
}
